<div class="fixed top-0 left-0 w-full z-[60]">
  <!-- PROMO -->
  <div
    class="bg-[#e3a72f] text-white text-sm text-center flex items-center justify-center py-2 md:py-3"
  >
    <span>
      It's Doohickey Opening Day!! Limited Offer of 40% discount to all first
      purchase!
    </span>
  </div>

  <!-- ========== HEADER ========== -->
  <header
    [ngClass]="{
      'h-16 shadow-md': isShrunk,
      'h-20 shadow-none': !isShrunk,
    }"
    class="sticky top-0 w-full backdrop-blur-xl bg-[#fffdf6]/70 border-b border-white/30 flex items-center transition-all duration-300"
  >
    <nav
      class="max-w-7xl mx-auto w-full flex items-center justify-between h-full px-8 transition-all duration-300"
    >
      <!-- LEFT -->
      <div class="flex items-center">
        <!-- Logo -->
        <a
          routerLink="/"
          class="mr-4 flex items-center gap-2 font-semibold text-lg shrink-0"
        >
          <img
            src="/assets/Doohickey_logo.png"
            [class.h-7]="isShrunk"
            [class.h-9]="!isShrunk"
            class="w-9 object-contain transition-all duration-300"
          />
          <span
            [ngClass]="{
              'text-lg': isShrunk,
              'text-xl': !isShrunk,
            }"
            class="font-semibold transition-all duration-300"
          >
            Doohickey
          </span>
        </a>

        <!-- Desktop Links -->
        <div class="hidden lg:flex items-center gap-5 ml-10">


          <a
            routerLink="/marketplace-page"
            routerLinkActive="active-link"
            class="nav-link text-base"
          >
            Marketplace
          </a>

          @if (auth.user$ | async; as user) {
            <a
              routerLink="/message-page"
              routerLinkActive="active-link"
              class="nav-link text-base"
            >
              Messages
            </a>
          }
        </div>
      </div>
      <!-- SEARCH BAR -->
      <div class="hidden md:flex flex-1 px-8">
        <div class="w-full">
          <div
            class="relative h-11 bg-white border border-[#e3a72f]/30 rounded-full shadow-sm overflow-hidden flex items-center"
          >
            <!-- Icon -->
            <span class="pl-4 text-gray-400 flex items-center">
              <i class="fa-solid fa-magnifying-glass"></i>
            </span>

            <!-- Input -->
            <input
              type="text"
              placeholder="Search products, brands..."
              class="flex-1 h-full px-3 text-sm bg-transparent outline-none placeholder-gray-400"
            />

            <!-- Button -->
            <button
              class="h-9 mr-1 px-5 rounded-full bg-[#e3a72f] text-white text-sm font-medium hover:bg-[#996600] transition flex items-center justify-center"
            >
              Search
            </button>
          </div>
        </div>
      </div>

      <!-- RIGHT -->
      <div class="flex items-center gap-5">
        <!-- Mobile Hamburger -->
        <button
          (click)="toggleMenu()"
          class="lg:hidden w-9 h-9 flex items-center justify-center rounded-full bg-gray-100"
        >
          <i
            class="fa-solid"
            [ngClass]="isMenuOpen ? 'fa-xmark' : 'fa-bars'"
          ></i>
        </button>

        <!-- Desktop Icons -->
        <div class="hidden lg:flex items-center gap-5">
          <!-- Cart -->
          <a
            routerLink="/cart-page"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            class="no-underline hover:no-underline"
          >
            <div
              class="relative flex items-center justify-center w-10 h-10 rounded-full bg-gray-100 hover:bg-[#e3a72f]/20 transition-all duration-200 hover:scale-105 cursor-pointer group"
            >
              <!-- Icon -->
              <i class="fa-solid fa-bag-shopping"></i>

              <!-- Badge -->
              @if (cartCount > 0) {
                <span
                  class="absolute -top-1 -right-1 bg-red-600 text-white text-[10px] min-w-[18px] h-[18px] flex items-center justify-center rounded-full px-1"
                >
                  {{ cartCount }}
                </span>
              }
            </div>
          </a>

          <!-- AUTH -->
          @if (auth.user$ | async; as user) {
            <div class="relative">
              <button
                (click)="toggleProfile()"
                class="relative flex items-center justify-center w-10 h-10 rounded-full bg-gray-100 hover:bg-[#e3a72f]/20 transition-all duration-200 hover:scale-105 cursor-pointer group"
              >
                <!-- Icon -->
                <i class="fa-solid fa-user"></i>
              </button>

              @if (isProfileOpen) {
                <div
                  class="absolute right-0 mt-2 w-52 bg-[#fffdf6] border rounded-lg shadow-md"
                >
                  <div class="px-4 py-3 border-b">
                    <p class="text-sm font-semibold">My Account</p>
                  </div>

                  <a
                    routerLink="/profile-page"
                    (click)="closeProfile()"
                    class="block px-4 py-2 text-sm hover:bg-[#fff3db]"
                  >
                    <i class="fa-solid fa-user"></i> Profile
                  </a>

                  <a
                    routerLink="/dashboard-page"
                    (click)="closeProfile()"
                    class="block px-4 py-2 text-sm hover:bg-[#fff3db]"
                  >
                    <i class="fa-solid fa-bell"></i> Notifications
                  </a>

                  <a
                    routerLink="/dashboard-page"
                    (click)="closeProfile()"
                    class="block px-4 py-2 text-sm hover:bg-[#fff3db]"
                  >
                    <i class="fa-solid fa-chart-column"></i> Dashboard
                  </a>

                  <a
                    routerLink="/orders-page"
                    (click)="closeProfile()"
                    class="block px-4 py-2 text-sm hover:bg-[#fff3db]"
                  >
                    <i class="fa-solid fa-box-open"></i> Orders
                  </a>

                  <a
                    routerLink="/setting-page"
                    (click)="closeProfile()"
                    class="block px-4 py-2 text-sm hover:bg-[#fff3db]"
                  >
                    <i class="fa-solid fa-gear"></i> Settings
                  </a>

                  <button
                    (click)="logout(); closeProfile()"
                    class="w-full text-left px-4 py-2 text-sm text-red-600 hover:bg-red-50"
                  >
                    <i class="fa-solid fa-right-from-bracket"></i> Logout
                  </button>
                </div>
              }
            </div>
          } @else {
            <a
              routerLink="/login-page"
              class="px-5 py-2 rounded-full bg-[#e3a72f] text-white text-sm font-semibold hover:scale-105 hover:bg-[#996600] transition-all shadow-md"
            >
              Sign In
            </a>
          }
        </div>
      </div>
    </nav>

    <!-- ========== MOBILE MENU ========== -->
    <div
      class="lg:hidden absolute top-full left-0 w-full bg-[#fffdf6] border-t shadow-md"
      [class.hidden]="!isMenuOpen"
    >
      <div class="max-w-7xl mx-auto flex flex-col p-4 gap-3 px-8">
        <a routerLink="/" class="mobile-link" (click)="toggleMenu()">Home</a>
        <a
          routerLink="/marketplace-page"
          class="mobile-link"
          (click)="toggleMenu()"
          >Marketplace</a
        >
        <a
          routerLink="/seller-store-page"
          class="mobile-link"
          (click)="toggleMenu()"
          >Seller</a
        >

        @if (auth.isLoggedIn()) {
          <a
            routerLink="/dashboard-page"
            class="mobile-link"
            (click)="toggleMenu()"
            >Dashboard</a
          >
        }

        <a routerLink="/cart-page" class="mobile-link" (click)="toggleMenu()"
          >Cart</a
        >
        <a
          routerLink="/wishlist-page"
          class="mobile-link"
          (click)="toggleMenu()"
          >Wishlist</a
        >
      </div>
    </div>
  </header>
  <!-- ========== END HEADER ========== -->
</div>
